@import "/home/leberton/.cache/wal/colors-waybar.css";

* {
	all: unset;
	font-family: "JetBrainsMono Nerd Font", "Nerd Font", monospace;
}

window#waybar {
	background: transparent;
}

.modules-center {
	background-color: @bg4;
	padding: 2px 12px;
	border-radius: 99px;
	margin: 12px 0 0 0;
}

#clock {
	font-weight: 400;
	padding: 0 8px;
}

#workspaces {
	background-color: @bg2;
	padding: 2px 4px;
	margin: 2px 0;
	border-radius: 99px;
}

#workspaces button {
	background-color: @bg3;
	padding: 2px 4px;
	border-radius: 99px;
	margin: 0 2px;
	transition: all 0.3s ease-in-out;
	min-width: 1rem;
}

#workspaces button.empty {
	color: @gray0;
}

#workspaces button.active {
	background-color: @green;
	color: @bg1;
	min-width: 1.5rem;
	font-weight: 500;
}

#custom-logo {
	font-size: 1.2rem;
	padding: 0 12px;
	margin: 12px 0 0 0;
	color: @fg;
}

#pulseaudio,
#network,
#battery {
	background-color: @bg2;
	border-radius: 99px;
	padding: 4px 14px;
	margin: 12px 4px 0 4px;
	font-size: 1.4rem;
	min-width: 1rem;
}

#pulseaudio {
	color: @blue;
}

#network {
	color: @purple;
	padding: 4px 14px 4px 7px;
}

#battery {
	color: @yellow;
}

tooltip {
	background-color: @bg1;
	color: @fg;
	padding: 10px;
	border-radius: 12px;
}

tooltip box {
	color: @fg;
	margin: 10px;
}
